


.container {
   position: absolute;
   background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: rgb(251, 0, 255);
    height: 100vh;
    width: 100%;
    border: 2px solid rgb(187, 255, 0);
    text-align: center;
        transform: translate(-50%, 50%);
        justify-content: center;
        
        display: flex;
    padding: 30px;
    }


.form-content {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: #eee8e8;
    height: 350px;
    align-content: center;
    text-align: center;
    place-items: center;
}

input[type=text],
input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
position: absolute;
align-content: center;
text-align: center;

}

h1 {
    text-align: center;
    
}

.btn {
    background-color: rgb(89, 0, 255);
    color: white;
    padding: 16px;
    margin: 5px;
}

label {
    color: blue;
    font-size: 16px;
}

.btn:hover {
    background-color: black;
}